*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin: auto; 
    width: 75%;  
    background-color: whitesmoke; 
    line-height: 1.5;
}
header{
    text-align: center; 
    padding: 20px;
    
}
header p{
    font-size: 1.1em;
    margin-top: 10px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 7%;
}
h2{
    margin: auto;
    font-weight: 500;
    font-size: 2.5vw;

}
/*aside is your cart*/
aside{
    float: left;
    width: 30%;
    border: 1px black solid;
    margin: auto;
}
/*section is billing address*/
section{
    float: left;
    width: 70%;
    border: 1px black solid;
    
}
#Payment{
    clear: both;
    float: left;
}
.half-box{
    float: left;
    width: 50%;
}
.half-box p{
    display: block;
}
#clear-box{
    clear: left;
    float: right;
}
footer{
    clear: left;
}
.drop-down-list, .small-box, .half-box{
    display: inline-block;
}
/*symbol is @*/
#symbol{
    width: 40px;
    padding: 10px;
    background-color: lightblue;
    float: left;
}
li{
    display: inline;
}
.fullbox{
    width: 100%;
    float: left;
}
