*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw; 
    padding: 0 15%;   
    background-color: whitesmoke; 
    line-height: 1.5;
}
header{
    text-align: center; 
    padding-left: 5px;
    padding-right: 5px;
    
}
header p{
    font-size: 1.5vw;
    margin-top: 0px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 7%;
}
h2{
    font-weight: 500;
    font-size: 2.5vw;
    margin-bottom: 0px;
    margin-top: 20px;
}
h3{
    font-weight: 500;
    font-size: 1.8vw;
}
input[type="text"], input[type="submit"], input[type="email"]{
    height: 40px;
    width: 95%;
    border: 1px solid  gray;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}
input[type="text"]:focus{
    border: 3px solid lightblue;
}
/*aside is your cart*/
aside{
    width: 30%;
}
/*section is billing address and Payment*/
section{
    width: 70%;
}
/*Make section : left and aside : right*/
#container{
    display: flex;
    flex-direction: row;
}
.half-box form{
    width: 47.5%;
}
.half-box input{
    width: 100%;
}
.half-box{
    display: flex;
    width: 95%;
    justify-content: space-between;  

}
.full-box{
    padding-bottom: 15px;
}
#combine-box1{
    display: flex;
    height: 40px;
    width: 95%;
}
#symbol{
    height: 40px;
    width: 7%;
    border: 1px solid gray;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}
#symbol::after{
    content: "@";
    color: gray;
}
#username{
    clear: both;
    border-radius: 0px;
    width: 88%;
}
.combine-text div::after{
    content: " (Optional)";
    color: gray;
}

select{
    border: 1px solid   gray;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}
#three-box
{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
#country{
        width: 40%;
}
#state{
    width: 30%;
}
#zip input{
    width: 100%;
}
#zip{
    width: 20%;
}
select:focus{
    border: 3px solid lightblue;
}
/*
.check-box{ 
    display: flex;
    align-items: center;
}
.align-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.check-box{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}
/*Hide default checkbox*/
.check-box input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    height: 0px;
    width: 0px;
}
/*Create checkmark box*/
.checkmark{
    position: absolute;
    width: 17px;
    height: 17px;
    top: 3px;
    left: 0;
    border: 1px solid gray;
    border-radius: 5px;
}
/*Make checkmark hide */
.checkmark::after{
    content: "";
    display: none;
    position: absolute;
}
/*Style the checkmark*/
.checkmark::after{
    top: 3px;
    left: 5px;
    width: 2px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);

}
/*When box is checked, add a blue background*/
.check-box input:checked ~ .checkmark{
    background:steelblue;
    outline: 2px solid skyblue;
    -moz-outline-radius: 6px;
}
/*Show the checkmark when checked*/
.check-box input:checked ~ .checkmark::after{
    display: block;
}


/*Checkbox is complited after updated*/
#line{
   border-top: 1px solid gray;
   border-bottom: 1px solid gray; 
   clear: both;
   padding: 20px 0;
   margin: 30px 0;
   line-height: 1.5;
   position: relative;
   top : 20px;

}
/* End billing address*/

/*Your cart*/
#flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    height: 60px;
}

#yourcart{
    color: gray;
}
#circle{
    float: right;
    width: 20%;
}
#circle{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color:rgb(100, 98, 98);
    border-radius: 40px;
    color: white;
    font-weight: bold; 
    font-size: 1.5vw;
    flex: 0 0 34px;
    align-self: center;
}
#table-container{
    border: 1px gray solid;
    border-radius: 4px;
    background: white;
    margin-bottom: 15px;
}
.content-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px gray solid;
    padding: 10px;
    height: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.content-container div p{
    color: gray;
    font-size: 1vw;
    margin-top: 0px;
}
.content-container div div{
    margin-bottom: 0px;
}
.cost{
    color: gray;
}
#total-cost{
    height: 50px;
}
#green-text{
    color:rgb(4, 156, 4);
    background: whitesmoke;
}
#combine-box2{
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding: 7px;
    background: white;
    border-radius: 5px;
}
#redeem{
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: gray;
    color: white;
}
#redeem:hover{
    background: darkslategray;
    cursor: pointer;
}
#promo-code{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;    
    width: 70%;
}
/*End Your Cart*/
#contain-radio{
    position: relative;
    margin-bottom: 10px;
    top: 0px;
    left: 0px;
}
.radio-box{
    display: block;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 25px;
}
/*Hide default radio-button*/
.radio-box input[type="radio"]{
    height: 0px;
    width: 0px;
    position: absolute;
    opacity: 0;
}
/*Create radiomark box */
.radio-mark{
    position: absolute;
    top: 3px;
    left: 0;
    border: 1px solid gray;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}
/*When the input is checked, add a blue background*/
.radio-box input:checked ~ .radio-mark{
    background: steelblue;
}
/*Create radiomark*/
.radio-mark::after{
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    border: 1px solid gray;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: white;
    display: none;
}
/*Show radio mark*/
.radio-box input:checked ~ .radio-mark::after{
    display: block;
}
#speacial-line{
    font-size: 1vw;
    color: gray;
}
#submit input{
    background: steelblue;
    color: white;
    font-size: 1.5vw;
    border-color: steelblue;
    height: 50px;
    cursor: pointer;
}
#submit{
    padding: 4% 0;
    border-top: 1px solid gray;
}
/*End Payment*/
footer{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
footer > div{

    padding: 0;
    display: flex;
    flex-flow: column wrap;
}
#linked{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
a{
    text-decoration: none;
    color: teal;
}
a:hover{
    color: dodgerblue;
    text-decoration: underline;
}
/* input[type="email"]:valid{
    border: 1px green solid;
    border-radius: 5px;
}
input[type="email"]:valid:focus{
    border: 3px lightgreen solid;
    border-radius: 5px;
}
input[type="email"]:invalid:focus{
    border: 3px lightpink solid;
    border-radius: 5px;
} */
